ul li{
    list-style-type: none;
   }
.aboutMe{
    margin-top: -100px;
    max-width: 100%;
    width: auto;
    height: auto;
    text-align: center;
   }
.profilePhoto{
    /* margin-top: -100px; */
    margin-right: 10px;
    min-width: 340px;
    float: left;
    background-color: #0b79d3df;
    border-radius: 20px;
    border: 5px  #0b79d3df;
    background: linear-gradient(to top, #bcd3e5df, #0b79d3df);
    /* box-shadow:inset 0px 0px 20px 20px rgba(255, 255, 255, 0.8) */
}

.profilecenter{
    
    margin-top: 20px;
    text-align: center;
}

.aboutMepara{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100vm;
}
.aboutMeDetails{
    display: block;
    line-height: 2;
}
.aboutmedetailsSpan1{
    display: block;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vw;
    color:#0b79d3df
}   
.aboutmedetailsSpan3{
    display: block;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vw;
    
}   
.pesonalInfo{
    
    line-height: 5;
    text-align: left;
}

.h1Aboutme{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vw;
    line-height: 3;
    text-decoration: underline;
}
.paraAboutMe{
    
    word-spacing: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vw;
    line-height: 3;
}